
body{
    margin:0;
    padding:0;
}
.top {
    color: #E5E7EB;
    background-color: #1F2937;
}

ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    
}
li{
    display:flex;
    font-size: 18px;
    margin:20px;

}
.logo{
    font-size: 24px;
    
}
.logoside{
    width:40%;
}
.links{
    
    display:flex;
    flex-direction: row;
    
}



.two{
    margin:50px;
    display:flex;
    flex-direction: row;
    
}

.right,.left{
    
    width:50%;
}
.right{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
p{
    text-align: left;
    display: flex;
    margin-top: 0;
    padding-top: 0;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 48px;
}
img{
    width:500px;
    height:300px;
}
#button{
    display: flex;
    width:50px;
    height:30px;
    background-color: red;
    align-items: center;
    justify-content: center;
}