
body{
    margin:0;
    padding:0;
}
.no1{
    color: #E5E7EB;
    background-color: #1F2937;
}

ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    
}
li{
    display:flex;
    font-size: 18px;
    margin:20px;

}
.logo{
    font-size: 24px;
    
}
.logoside{
    width:50%;
}
.links{
    margin-left: 30px;
    display:flex;
    flex-direction: row;
    
}



.two{
    
    display:flex;
    flex-direction: row;
    
}

.right,.left{
    
    width:40%;
}
.right{
    margin-left:150px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
p{
    text-align: left;
    display: flex;
    margin-top: 0;
    padding-top: 0;
    
}
.title{
    font-size: 48px;
    font-weight:800px ;
}
img{
    width:550px;
    height:300px;
}
#button{
    border-radius: 25px;
    display: flex;
    width:80px;
    height:30px;
    background-color: rgb(53, 125, 149);
    align-items: center;
    justify-content: center;
}


.no2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.no2_header{
    font-size: 36px;
    font-weight:800px ;
    margin:50px;
}
.no2second{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.no2groups{
    display:flex;
    flex-direction: column;
}
.blocks{
    border-radius: 25px;
    display: flex;
    width: 150px;
    height:150px;
    margin-left:50px;
    border-style: solid;
    border-width: thick;
    border-color:#3882F6 ; /**/
    
}
.blocktext{
    width:150px;
    margin-left:50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}




.last{
    background-color: #E5E7EB;
    padding:100px;
    display: flex;
    flex-direction: column;
}
.lastp{
    text-align: center;
    font-size: 36px;
    color:#1F2937;
    justify-content: center;
    align-items: center;
}
.lastend{
    font-size: 36px;
    justify-content: right;
    color:black;
    font-style: bold;
}